<footer id="pageFooter" class="bg-dark p-3 text-light mt-auto d-flex">

  <img class="nav-img" src="/img/csumb-logo.png">
  <div id="footer-txt" class="mx-3">
    CST336 Internet Programming. 2021&copy; Chiem, Rowe, Shum, Stankovich <br />
    <strong>Disclaimer:</strong> This webpage is used for academic purposes only. This is a student project and does does not represent the view or values of the CSUMB organization.
  </div>
</footer>
</body>
</html>