<%- include('partials/header.ejs') %>
<main class="mt-5 mb-5 container">
  
  <section id="album-main" class="d-flex flex-row">
    <div id="album-art">
      <img src="<%= results.images[0].resource_url %>" class="img-fluid">
    </div>
    <div id="album-tracklist">
      
    </div>
  </section>
  <section id="album-details">

  </section>


</main>
<%- include('partials/footer.ejs') %>