<%- include('partials/header.ejs') %>
<main>
  
  <section id="album-main">
    <div id="album-art">

    </div>
    <div id="album-tracklist">

    </div>
  </section>
  <section id="album-details">
    
  </section>


</main>
<%- include('partials/footer.ejs') %>