<%- include('partials/header.ejs') %>

<main class="">
  <section id="dashboard" class="mt-5 container">
    <div class="text-center"><h1><%= username -%>'s Dashboard</h1></div>
    <div class="custom-hr my-3"></div>
    <section id="controls" class="d-flex flex=row justify-content-center">
      <button id="col" class="btn btn-primary">My Collection</button>
      <button id="wsh" class="btn btn-primary mx-3">My Wishlist</button>
      <button id="rev" class="btn btn-primary">My Reviews</button>
      <button id="search" class="btn btn-primary mx-3">Search Albums</button>
    </section>
    <section id="content" class="border mt-3">
      <div id="content-body" class="container-fluid"></div>
    </section>
  </section>
</main>

<br /><br /><br />

<script src="/js/dashboardPage.js"></script>

<%- include('partials/footer.ejs') %>
