<%- include('partials/header.ejs') %>

<div class="container p-5 text-white bg-dark rounded-3 mt-auto">
  <h2>This is a placeholder.</h2>
  <p>This isn't even my code. We need to fix this later.</p>
  <button class="btn btn-outline-light" type="button">Get Started!</button>
</div>

<%- include('partials/footer.ejs') %>
