<%- include('partials/header.ejs') %>

<main id="home-grid">
  <div class="home-1">
    <h1 class="display-3">Find your favorite albums.</h1>
  </div>
  <div class="home-2">
    <p><h5>
      This website hooks into the Discogs API to let you view and review your
      collection. Click on the button below to get started!
    </h5></p>
  </div>
  <div class="home-3">
    <a href="/signup">
      <button class="btn btn-outline-light btn-lg">Start Searching!</button>
    </a>
  </div>
</main>

<%- include('partials/footer.ejs') %>
