<%- include('partials/header.ejs') %>

<main id="home-grid">
  <div class="bg-img"></div>
  <div class="g1"><h1 class="display-1">Find your favorite</h1></div>
  <div class="g2"><h1 class="display-1">albums today...</h1></div>
  <div class="g3">
    <a href="/signup">
    <button class=" btn btn-dark ">
      <h1 class="display-6" >Start Now</h1>
    </button>
  </a>
  </div>
</main>

<%- include('partials/footer.ejs') %>
