<%- include('partials/header.ejs') %>

<form class="container-lg p-5" method="POST" action="/login">

  <div class="mb-3">
    <label for="username" class="form-label">Username: </label>
    <input type="text" class="form-control" id="username" name="username" />
    <span class="errorFdbk" id="usernameFdbk"></span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password: </label>
    <input type="password" class="form-control" id="password" name="password" />
    <span id="pwdFdbk"></span>
  </div>
  <button class="errorFdbk" type="submit" class="btn btn-primary" id="submit">Log In</button>
</form>

<script src="/js/loginValid.js"></script>

<%- include('partials/footer.ejs') %>