#footer-txt {
  align-self: center;
  font-size: 0.8rem;
}

#home-grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". home-1 home-1 . . ."
    ". home-2 home-2 . . ."
    ". home-3 home-3 . . ."
    ". . . . . .";

  background-image: url("/img/landing.jpg");
  color: white;
  text-shadow: 3px 3px 10px black;
}

.home-1 {
  grid-area: home-1;
}

.home-2 {
  grid-area: home-2;
  align-self: center;

}

.home-3 {
  grid-area: home-3;
}

#sign-up-grid {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sg1 sg2";
  width: 100%;
  height: 100%;
}

.sg2 {
  background-image: url("https://images.pexels.com/photos/5211558/pexels-photo-5211558.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

#login {
  display: flex;
  align-items: center;
}

#login form {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 10px black;
}

.login-bg {
  background-image: url("https://images.pexels.com/photos/744318/pexels-photo-744318.jpeg");
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.search-form {
  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  flex-basis: auto;
  width: 70%;
}

#query {
  flex-grow: 2;
}

#search-select {
  flex-shrink: 4;
}

.nav-img {
  height: 3rem;
}

.custom-hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 1rem 0;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
}

body {
  height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-image: url("/img/papyrus-dark.png");
}

nav {
  background-image: url("/img/papyrus-dark.png");
}
